@using Microsoft.AspNet.Identity
@model AirportTablo1.Models.Flight
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>
@section Scripts {
    window.setInterval(function() {
    // Send an AJAX request every 5s to poll for changes and update the UI
    // example with jquery:
    $.get('/foo', function(result) {
    // TODO: use the results returned from your controller action
    // to update the UI
    });
    }, 5000);
}
<script type="text/javascript">
    var a = "@User.Identity.GetUserId().ToString()";
</script>