@model IEnumerable<AirportTablo1.Models.StatisticAirline>

<h2>Статистика авіакомпаній</h2>

@*@if (!Model.Any())
{
    <p> Пока что полётов нет!Статистика авіакомпаній</p>
}*@
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Назва авіакомпанії</th>
                <th>Кількість польотів</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>@flight.NameAirline</td>
                    <td>@flight.CountAirline</td>
                </tr>
            }
        </tbody>
    </table>
}
